<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/header %>
  </head>
  <body>
    <%- include ../partials/nav %>

    <h1>Edit Posts go Here</h1>
    <% posts.forEach(function(el) { %>
        <div>
            <p><img src="<%= el.img %>"</p>
            <p><%= el.name %></p>
            <p><%= el.occupation %></p>
            <p><%= el.years %></p>
            <p><%= el.country %></p>
            <p><%= el.bio %></p>
        </div>

        <div>
        <a href="/posts/<%= el.posts_id %>/edit">
          <button>Edit Post</button>
        </a>
        </div>

        <div>
        <form method="post" action="/posts/<%= el.posts_id %>?_method=DELETE">
          <button>Delete Post</button>
        </form>
        </div>
      <% }) %>

    <%- include ../partials/footer %>
  </body>
</html>
