<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/header %>
  </head>
  <body>
    <% posts.forEach(function(el) { %>
    <header>
      <%- include ../partials/nav %>
      <img src="<%= el.img %>" class="post-img" />
    </header>
    <div class="container">

            <h1><%= el.name %></h1>
            <p><%= el.occupation %></p>
            <p><%= el.years %></p>
            <p><%= el.country %></p>
            <p><%= el.bio %></p>

        <div>
        <a href="/posts/<%= el.posts_id %>/edit">
          <button>Edit Post</button>
        </a>
        </div>
      <% }) %>
    </div>

    <%- include ../partials/footer %>
  </body>
</html>
