<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/header %>
</head>
<body>
  <%- include ../partials/nav %>


    <h1>Edit Posts go Here</h1>
    <% posts.forEach(function(el) { %>
        <div>
            <p><img src="<%= el.img %>"</p>
            <p><%= el.name %></p>
            <p><%= el.occupation %></p>
            <p><%= el.years %></p>
            <p><%= el.country %></p>
            <p><%= el.bio %></p>
        </div>
        <form method="post" action="/posts/<%= el.posts_id %>?_method=DELETE">
          <button>Delete Post</button>
        </form>
      <% }) %>


    <%- include ../partials/footer %>
  </body>
</html>
