<!DOCTYPE html>
<html lang="en">
<head>
  <%- include ../partials/header %>
</head>
<body>
  <%- include ../partials/nav %>

<h1><%= editForm.title %></h1>
<form action="<%= editForm.postURL %>" method="post">
  <div>
    <label for="name">name</label>
    <input type="text" name="name">
  </div>

  <div>
    <label for="occupation">occupation</label>
    <input type="text" name="occupation">
  </div>

  <div>
    <label for="years">years</label>
    <input type="text" name="years">
  </div>

  <div>
    <label for="country">country</label>
    <input type="text" name="country">
  </div>

  <div>
    <label for="bio">bio</label>
    <input type="text" name="bio">
  </div>

  <div>
    <label for="img">img</label>
    <input type="text" name="img">
  </div>
  <input type="submit" value="Submit">
</form>

<%- include ../partials/footer %>
</body>
</html>
