<!DOCTYPE html>
<html>
  <head>
    <%- include ../partials/header %>
  </head>
  <body>
    <%- include ../partials/nav %>

    <h1>Individual Posts go Here</h1>
    <% posts.forEach(function(el) { %>
        <div>
          <ul>
            <li><%= el.name %></li>
            <li><%= el.occupation %></li>
            <li><%= el.years %></li>
            <li><%= el.country %></li>
            <li><%= el.bio %></li>
            <li><%= el.img %></li>
          </ul>
        </div>
      <% }) %>
  </body>
</html>
